<div class="container mt-5 text-center">
  <h3 class="text-center title mb-4">Our Partners</h3>
  <div id="multiImageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <a href="https://www.nissan-global.com" target="_blank">
              <img src="assets/logo1.png" class="d-block w-100" alt="Nissan">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="https://www.t-mobile.com" target="_blank">
              <img src="assets/logo2.png" class="d-block w-100" alt="T-Mobile">
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <a href="https://www.samsung.com" target="_blank">
              <img src="assets/logo3.png" class="d-block w-100" alt="Samsung">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="https://www.apple.com" target="_blank">
              <img src="assets/logo4.png" class="d-block w-100" alt="Apple">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
